body
{
    background-color: black;
    border-radius: 8px;
    padding: 220px;
    
}
#Heyy
{
    border: 2px solid yellow;
    border-radius: 30px;
    position: relative;
    font-size: medium;
    width: 80%;
    background-color: hotpink;
    color:greenyellow;
    padding: 10px 10px;
    transition-duration: 0.60ms;
    opacity: 1;
    transition: 0.3s;
}
#Heyi
{
    border-radius: 30px;
    border: 2px solid yellow;
    position: relative;
    font-size: medium;
    width: 80%;
    background-color: hotpink;
    color:black;
    padding: 10px 10px;
    
}
#Heya
{
    border-radius: 30px;
    border: 2px solid yellow;
    position: relative;
    font-size: medium;
    width: 80%;
    background-color: hotpink;
    color:greenyellow;
    padding: 10px 10px;
}
#Heyo
{
    border-radius: 30px;
    border: 2px solid yellow;
    position: relative;
    font-size: medium;
    width: 80%;
    background-color: hotpink;
    color:black;
    padding: 10px 10px;
}
#Heye
{
    font-size:xx-large;
    width: 80%;
    color:greenyellow;    
}